div.formSing form tr th {  text-align:left; font-size: 0.69em;  margin:0.00em; color:#323232; margin-bottom:1.20em;}
div.clickable {cursor: pointer;}

ul.error_list {
	padding-left:0px;
}
ul.error_list li {
	list-style: none outside;
	color:#f80c1a;
	font-size: 0.69em;
}
#help_dialog {
	display:none;
}
.gris{color:#b6b6b6; }
.negro{color:black; }
.hidden{display:none}
.shown{display:block}
div.error {width:340px; margin-top:15px; padding:13px; background-color:#ffffcd; border:1px solid #8da0b1; font-size: 0.88em; color:#ff0012; font-weight: bold;}
.error {color:#ff0012;}
div.notice {width:340px; margin-top:15px; padding:13px; background-color:#ffffff; border:1px solid #8da0b1; font-size: 0.88em; color:#323232; font-weight: bold; background-image:url(/images/icoOk.gif); background-position:right bottom; background-repeat:no-repeat;}
#googleads {float:right}
.wider { width:16em; padding: 15px 0; }
.review_img {float:left; margin-right: 5px}
.review_date {font-size:0.8em;}
