div.formSing form tr th {  text-align:left; font-size: 0.69em;  margin:0.00em; color:#323232; margin-bottom:1.20em;}
div.clickable {cursor: pointer;}

ul.error_list {
	padding-left:0px;
}
ul.error_list li {
	list-style: none outside;
	color:#f80c1a;
	font-size: 0.69em;
}
#help_dialog {
	display:none;
}
.notice {color:green;}
.error {color:red;}
.gris{color:#b6b6b6; }
.negro{color:black; }
