div.formSing form tr th {  text-align:left;font-size: 0.88em;  margin:0.00em; color:#323232; font-weight: bold; }
div.clickable {cursor: pointer;}

ul.error_list {
	padding-left:0px;
}
ul.error_list li {
	list-style: none outside;
	color:#f80c1a;
}