@charset "utf-8";

/* TODO: Cambiar tamaños de fuentes una vez eliminados todos los h6 */

body { margin: 0; padding: 0; font-family: Georgia, "Times New Roman", Times, serif; color: #323232; font-size: 62.5%; }
p { margin:0; padding-bottom: 1.5em; }

/* Layout básico */
#header-inner, #main-inner, #footer { font-size: 1.3em }
#header-inner, #main-inner { margin: 0 auto 2em auto; width: 960px; position: relative; overflow: hidden; }
#general-contact #main,
#sfGuardAuth-signin #main,
#sfGuardAuth-edit #main,
#sfGuardAuth-reminder #main { background-repeat: repeat-x; background: transparent url(/images/bgMain.gif) top center repeat-x }
#main-inner { padding: 2em 0; }
#content { float: left; width: 100%; }
#sidebar { float: right; width: 25%; margin-left: 5%;}

/* Encabezados */
h1 { font-size: 4em; margin: 0; color: #2b56ff; }
h2 { font-size: 1.6em; margin: 0 0 1em 0; font-weight: normal; }
h3 { font-size: 1.2em; margin: 0; }
h4 { font-size: 1em; margin: 0; color: #323232 }
h5 { font-size: 1em; margin: 0; color: #323232; }
h6 { font-size: 1em; font-weight: normal; margin: 0; padding-bottom: 0.5em; color: #323232; line-height: 1.60em; }

/* Cabecera */
#logo a { color: #323232; text-decoration: none; font-weight: normal; }
#slogan { font-size: 1.2em; font-weight: normal; }
#user-links { position: absolute; top: 10px; right: 0; }
#search { position: absolute; top: 55px; right: 0; text-align: right; }
#search input[type=submit] { margin-left: 0.5em; width: 8em;}

/* Footer */
#footer { text-align: center; padding-top: 2em; }
#footer .nav-links, #footer .lang-links { text-align: center; margin: 0; padding-bottom: 1em; }
#footer .nav-links a, #footer .lang-links a { margin: 0 1.25em; }
#footer .license { background-color: #343434; padding: 0.3em; color: white; margin-bottom: 1em; }
#footer .license a { color: white; }
#footer .license img { vertical-align: -13px;}
#footer .copyright { border-top: 1px dotted #343434; padding: 1em 0; }

/* Mensajes */
.success-msg, .notice { border: 1px solid #9398ae; width: 26em; padding: 1em; margin: 1em 0; font-weight: bold; background: transparent url(/images/icoOk.gif) right center no-repeat; }
.error { border: 1px solid #9398ae; width: 26em; padding: 1em; margin: 1em 0; font-weight: bold; background-color: #ffffcd; color:#ff0012;}
.next-step-msg { padding-bottom: 0.5em; font-weight: bold;}

/* Cajas */
.box { background: transparent url(/images/shadow.png); position: relative;}
.box h2 { font-size: 1em; padding-bottom: 1em;}
.box-inner { background-color: #fff; border: 1px solid #9398ae; padding: 1em; position: relative; top: -5px; left: -5px; }
.box-contact ul { list-style: none; margin: 0; padding: 0;}
.box-contact ul li { margin-bottom: 0.5em; }
.box-contact ul li.blog { background: transparent url(/images/icoBlog.gif) left center no-repeat; padding-left: 20px;}
.box-contact ul li.twitter { background: transparent url(/images/icoTwitter.png) left center no-repeat; padding-left: 20px;}
.box-contact ul li.facebook { background: transparent url(/images/icoFacebook.png) left center no-repeat; padding-left: 20px;}

/* Formularios */
form dl dt { margin-bottom: 0.5em;}
form dl dd { margin: 0 0 1.5em 0;}
form th, form td { padding-bottom: 1.5em; vertical-align: top;}
form th { text-align: left; padding: 5px 1em 5px 0;}
form ul.error_list { margin: 5px 0; padding: 0; list-style: none; color: #f80c1a; font-size: 0.9em; }
input[type=text], input[type=password] { border: 1px solid #9398ae; font-family: Georgia, "Times New Roman", Times, serif; font-size: 1em; padding: 2px; width:20em }
input[type=submit] { width: 8em; color: #323232; }
textarea { border: 1px solid #9398ae; font-family: Georgia, "Times New Roman", Times, serif; font-size: 1em; resize: none; width:20em; padding: 2px;}
.submit { text-align: right; }
.hints { margin: 0; padding: 5px 0;}

/* Contacto */
#general-contact textarea { width: 494px; }
#general-contact .submit  { width: 500px; }
#general-contact #content { width: 70%; }

/* Perfil */
#sfGuardAuth-edit .vanity input { display: inline; width: 10em;}
#sfGuardAuth-edit input[type=submit] { width: 12em;}
#sfGuardAuth-edit form td { width: 20em;}

/* SignUp y Login */ 
#sfGuardAuth-signin #main { padding-top: 4em;}
#sfGuardAuth-signin #main h2 { color:#2b56ff; }
#sfGuardAuth-signin #signup { float: left; }
#sfGuardAuth-signin #login  { float: right; }
#sfGuardAuth-signin .submit input[type=submit] { width: 13em; }
#sfGuardAuth-signin .legal { text-align: right; }

/* Ranking de políticos */
.listadoRanking { margin: 1.50em auto 0 auto; width: 90%; }
.cabeceraRanking { background-color:#f6f6f6; height: 1.69em; }
.listaRanking { height: 5em; }
.nombreRanking { width: 40%; height: 1.69em; padding-left: 5.00em; padding-top: 1.10px; }
.votosUp { width: 20%; text-align: right; }
.votosDown { width: 20%; text-align:right; }
.separacionFotoRanking { padding-right:0.88em; }

/* Página de político */
#politico-show #content { width: 65%; }
#politico-show #sidebar { width: 30%; margin-left: 5%; }
#politico-show h2.name span { font-size: 0.6em;}
#politico-show .reviews { margin-top: 1em; float: left; width: 100%;}
#politico-show .reviews li { margin-left: 0.7em; margin-top:0.7em }
#politico-show .photo { width: 30%; margin-left: 5%; float: left; }
#politico-show .description { width: 60%; margin-left: 5%; float: left; }

/* Comentarios */
.reviews ol { list-style: none; margin: 0; padding: 0;}
.positive-reviews, .negative-reviews { width: 45%; float: left;}
.negative-reviews { margin-left: 10%; }
.reviews h3 { border-bottom: 1px dotted #646464; margin-bottom: 1em; }
.review-avatar {float:left; width: 36px; height: 36px; margin-right: 5px}
.review-name { font-weight: normal;}
.review-date { margin-top: 0.5em; padding-bottom: 0; font-size:0.8em;}
.review-body { padding: 0.5em 0; clear: left;}

/*
  Antiguo fichero voota.css
*/

.logo { margin-top:0.69em; }
.logoImg { margin-bottom:0.90em; margin-top:0.69em; }
.footerEspacio { height:10.00em;}
.limpiar { clear:both; }
.inputSignPeq { width:1.90em; }
.inputSignPeq2 { width:2.50em; }
.inputSignVanity { width:11em; }
.der { float:right;}
.izq { float:left;}
.login {margin-top:0.60em; float:right;}
.text11 { font-family:Georgia, "Times New Roman", Times, serif; font-size:1em; color:#8c8c8c;}
img { border:none; vertical-align: middle;}
table { padding:0; margin:0;}
.tdperfil { padding: 15px 0; vertical-align: top;}


/*
  Antiguo fichero interior.css
*/

#contentLeft { float:left; width: 41.56em;}
#contentRankingLeft { float:left; width:100%}
#contentRight { float:right; width: 10.81em;}
#contentRight2 { float:right; width: 15.81em; margin-top:3.94em;}
#contentLeftNormas { float:left; width:35.00em; margin-top:3.94em; margin-left:1.38em;}
#contentLeftAbout { float:left; width:42.00em; margin-top:3.94em; margin-left:1.38em;}
#contentLeftSing { float:left; width:50%; margin-top:3.94em; margin-left:1.38em;}
#contentLeftSing2 { float:left; margin-top:3.94em; margin-left:1.38em;}
#contentLeftSing404 { padding-top:3.94em; margin: 0 auto; height:8.50em; width:34.38em; text-align:center; }
#contentLeftSing500{ padding-top:3.94em; margin: 0 auto; width:34.38em; text-align:center; }
#contentRightSing { float:left; margin-top:3.94em; margin-left:1.00em}
#contentSing { padding-left:1.31em; margin-top:1.69em; }
.buscar { text-align:right; float:right; }
.formSing { margin-top:1.00em;}
.formSing404 { padding-top:1.00em; margin: 0 auto; width:25.00em; text-align:left;}
.formSing500 { padding-top:1.00em; margin: 0 auto; width:12.50em; text-align:left;}
.formSings { margin-top:1.00em; margin-left:1.44em;}
.alingBoton {text-align:right;}
.leftSing {  width:5.80em; padding: 1em 0; vertical-align: top; }
.leftSings {  padding-bottom:0.60em; padding-top:0.60em; text-align:left; width:25.00em; }
.rightSings {  padding-bottom:0.60em; padding-top:0.60em; padding-left:100px; }
.leftSingss {  padding-bottom:1.00em; padding-top:1.00em; }
.leftSing2 { padding-bottom:0.60em; padding-top:0.60em; }
.leftSings2 { padding-bottom:0.60em; padding-top:0.60em; padding-left:0.60em; }
.leftSing3 { padding-bottom:0.60em; padding-top:0.60em; }
#nombre { list-style:none; margin:0; padding:0; }
#nombre li { float:left; margin:0; padding:0; margin-right:1.0em; }
.ranking { text-align:right; width:6.25em; height:1.69em;}
.fotoRanking { width:6.81em; height:1.69em; padding-left:0.25em; text-align:right;}
.votosUpTotal {  width:38.80em; text-align:right; margin-right:2.20em;}
.votosDownTotal { float:left; text-align:right;}
#paginacion { text-align:center; word-spacing:0.40em; font-weight:bold;}
.numerosPag { font-weight:bold; font-size: 1.2em; }
.nombrePolitico { font-family:Georgia, "Times New Roman", Times, serif; font-size:1.4em; font-weight:bold; color:#2f2f2f}
.nombrePolitico select { font-size: 0.8em;}
.tituloAzul { font-family:Georgia, "Times New Roman", Times, serif; font-size:1.13em; font-weight:bold; color:#2b56ff;}
.azul {color:#2b56ff;}
.rojo {color:#f80c1a;}
.nombreCaja {font-family: Georgia, "Times New Roman", Times, serif; font-size:0.88em; color:#2f2f2f;}
.margenVotacion {margin-right:1.56em;}
.margenPolitico {margin-left:0.75em; margin-top:0.60em}
.margenPoliticoPartido {margin-left:0.75em; margin-top:0.60em; width:15.00em; float:left;}
.votaPolitico {margin-top:1.88em; margin-bottom:1.00em;}
.marensf_review2 {margin-top:1.00em;}
.linePolitico {border-bottom:0.06em dotted #646464; width:10.94em; height:0.06em; margin-top:0.60em; margin-left:0.60em;}
.positivoNegativo {width:18.69em;}
/*comentarios */
.picoComentario {margin-left:1.75em; height:0.44em; margin-bottom:0.28em;}
#comentarios {margin-left:0.75em; border:0.06em solid #cdcdc5; background:#ffffcd; padding-right:0.60em;}
.lugar {color:#323232; font-weight:bold;}
.totalComentarios {margin-left:3.13em; margin-top:1.50em;}
/* votaciones */
.votaSobre {margin-left:1.31em; margin-top:1.50em; width:13.81em;}
.votaPoliticosParido {margin-left:1.31em; margin-top:1.50em;}
.contenedorPositivoNegativo {margin-left:1.31em; margin-top:1.50em;}
.votaPartidos {margin-left:1.25em; margin-top:1.50em; margin-bottom:1.25em; margin-right:3.25em; float:left; width:15.63em;}
.vootaPartidoList { margin-left:0.63em; margin-top:0.63em;}

.listadoRankingPoliticos { margin-top:1.50em; margin-bottom:1.50em; height:2.25em; width:52.56em; margin-left:1.88em; }
.confirmar {width:14.44em; margin-left:1.00em; }
.cuadroConfirmar {border:0.06em solid #8f9ba7; background-color:#ffffcd; padding:0.50em; width:10em;}
.cuadroConfirmarImagen { background-image:url(/images/clonk.gif); background-repeat:no-repeat; background-position:bottom left; text-align:center;}
.ayuda {border:0.06em solid #3366ff; background-color:#ffffff; padding:0.50em; width:17.94em;}
.tachado {text-decoration: line-through;}
.margenVota {margin-top:0.60em; width:18.94em; text-align:right;}

/* Gente con color */
.conColor {margin-top:2.94em;}
.enlacesExternosPartido {margin-top:4.94em;}
.tituloColor {margin-top:2.00em;}
.nombreColor {margin-left:0.60em; margin-top:1.00em;}
.nombreColorPartido {margin-left:0.60em;}
.flechita {background-image:url(/images/flechita.gif); background-repeat:no-repeat; background-position: bottom center; padding-bottom:0.40em; text-decoration:none; color:#333333; font-weight:bold;  }
.textoNormal {font-size: 0.75em; font-weight: normal; margin:0.00em; margin:0.00em; padding-bottom:0.5em; color:#323232;}
.textoMayor {font-size: 0.88em;  margin:0.00em; color:#323232; font-weight: bold;}
.ancho100 { width:480px;}
/* about */
.aboutFoto {float:left; width:36px;}
.aboutTexto {float:left; margin-left:10px; width:30.63em;}
.aboutContainer {margin-top:1.75em; margin-left:1.44em;}
.containerEnlaces {margin-top:0.75em; margin-left:1.44em;}
#404 {}
.anchoColumna {width:160px;}
.tituloCampo { padding-top: 17px; margin:0; color:#323232; }


/*
  Antiguo fichero other.css
*/

/* div.formSing form tr th {  text-align:left; margin:0.00em; color:#323232; margin-bottom:1.20em;} */
div.clickable {cursor: pointer;}

#help_dialog {
	display:none;
}
.gris{color:#b6b6b6; }
.negro{color:black; }
.hidden{display:none}
.shown{display:block}
#googleads {float:right}
.wider { width:16em; padding: 15px 0; }


/*
  Reglas nuevas
*/

.tips { font-size: 0.8em; padding-top: 17px; }