@charset "utf-8";

html { overflow-y: scroll;}
body { margin: 0; padding: 0; font-family: Georgia, "Times New Roman", Times, serif; color: #323232; font-size: 13px;}
p { margin:0; padding-bottom: 20px; line-height: 150%;}
img, a img { border: none; vertical-align: middle;}
table { padding:0; margin:0; border-collapse: collapse;}
a { color: #0000ee;}
a:visited { color: #551a8b;}
a img { text-decoration: none;}

/* Encabezados */
h1 { font-size: 52px; margin: 0; color: #2b56ff;}
h2 { font-size: 20px; margin: 0 0 20px 0; font-weight: normal;}
h3 { font-size: 16px; margin: 0; line-height: 150%;}
h4 { font-size: 13px; margin: 0; color: #323232}

/* Clases genéricas */
.hidden { display:none;}
.shown { display:block;}
.add-subreview { padding: 5px 0 0 0; margin: 0;}
.review-new { display: none;}
.subreviews-wrapper { padding: 0; margin: 0;}
.subreviews-summary { font-size: 11px; padding: 0;}
.document { padding-left: 18px; padding-top: 2px; background: transparent url(/images/document.gif) left center no-repeat;}
strong.email { color: #2b56ff;}
.blur { color:#b6b6b6;}
.even { background-color: #fbfbfb;}

/* Buscador */
.search form { float: left;}
.search fieldset { margin: 0; padding: 0; border: none;}
.search input { float: left;}
.search button { margin-left: 10px; width: 90px; float: left;}

/* Sparklines */
.sparkline { display: inline-block; width: 100px; height: 15px;}
.bluff-tooltip { background: #fff; border: 1px solid #d1edf5; padding: 5px; font-size: 13px;}
.bluff-tooltip .color {display: none;}
.bluff-tooltip .data { font-weight: bold;}
.bluff-wrapper { display: inline;}

/* Paginación */
.pagination { font-size: 16px; margin-top: 40px; text-align: center; word-spacing: 20px; font-weight: bold;}
.entity-pagination { clear: both;}
.entity-pagination a,
.entity-pagination span { padding-right: 20px;}
.entity-pagination a.back { padding-left: 40px;}
.entity-pagination-top { padding: 0 0 40px 0;}
.entity-pagination-bottom { padding: 40px 0 0 0;}
#reviews_more { margin-right: 5px;}

/* Layout básico */
body { background-repeat: repeat-x; background: transparent url(/images/bgBody.png) top center repeat-x}
#header, #main, #footer { text-align: center;}
#header-inner, #main-inner { text-align: left; margin: 0 auto; width: 960px; position: relative; overflow: hidden;}
#header-inner { height: 150px;}
#main-inner { padding: 20px 0;}
#content { float: left; width: 100%;}
#sidebar { float: right; width: 220px; margin-left: 50px; text-align: left}

/* Sidebar */
#sidebar ul,
#sidebar ol { list-style: none; margin: 0 0 10px 0; padding-left: 0;}
#sidebar li { list-style: none; margin: 0 0 10px 0;}

/* Cabecera */
#logo a { color: #323232; text-decoration: none; font-weight: normal;}
#slogan { font-size: 16px; font-weight: normal;}
#user-links { position: absolute; top: 10px; right: 0; text-align: right;}
#user-links a, #user-links span.separator { padding-left: 5px; }
#user-links p { padding-bottom: 10px;}
#user-links .fbconnect_login_button img { padding-right: 0;}
#user-links #lo_fb_conn { padding-right: 10px;}
#user-links #lo_fb_conn .close { font-size: 9px;}
#header .search { position: absolute; bottom: 25px; right: 0; text-align: right;}
#contact-links ul { list-style: none; margin: 0; padding: 0; position: absolute; bottom: 20px; left: 0;}
#contact-links ul li { float: left; padding: 0 50px 0 0;}
#contact-links ul li a { padding-right: 20px;}
#contact-links ul li.blog a { background: transparent url(/images/icoBlog.png) right center no-repeat; padding-right: 20px;}
#contact-links ul li.twitter a { background: transparent url(/images/icoTwitter.png) right center no-repeat;}
#contact-links ul li.facebook a { background: transparent url(/images/icoFacebook.png) right center no-repeat;}

/* IE 6 */
#ie6 { position: relative; margin: 40px 0; padding: 20px; border: 1px solid red;}
#ie6 h3 { font-size: 16px; padding-bottom: 20px;}
#ie6 .close { position: absolute; top: 20px; right: 20px;}

/* Footer */
#footer { text-align: center; padding-top: 20px;}
#footer .nav-links, #footer .lang-links { text-align: center; margin: 0; padding-bottom: 20px;}
#footer .nav-links a, #footer .lang-links a { margin: 0 20px;}
#footer .license { background-color: #343434; padding: 6px; color: white; margin-bottom: 20px;}
#footer .license a { color: white;}
#footer .license img { vertical-align: -13px;}
#footer .copyright { border-top: 1px dotted #343434; padding: 20px 0;}

/* Mensajes */
.success-msg, .notice { border: 1px solid #809DB9; width: 300px; padding: 20px; margin: 20px 0; font-weight: bold; background: transparent url(/images/icoOk.gif) right center no-repeat; }
.warning { border: 1px solid #809DB9; width: 918px; padding: 20px; margin: 20px 0; font-weight: bold; }
.error { border: 1px solid #809DB9; width: 300px; padding: 20px; margin: 20px 0; font-weight: bold; background-color: #ffffcd; color:#ff0012;}
.next-step-msg { padding-bottom: 10px; font-weight: bold;}

/* Cajas */
.box { background: transparent url(/images/shadow.png); position: relative;}
.box h2 { font-size: 16px; padding-bottom: 20px;}
.box-inner { background-color: #fff; border: 1px solid #809DB9; padding: 20px; position: relative; top: -5px; left: -5px;}
.box-contact ul { list-style: none; margin: 0; padding: 0;}
.box-contact ul li { margin-bottom: 10px; padding-left: 20px; height: 16px;}
.box-contact ul li.blog { background: transparent url(/images/icoBlog.png) left center no-repeat;}
.box-contact ul li.twitter { background: transparent url(/images/icoTwitter.png) left center no-repeat;}
.box-contact ul li.facebook { background: transparent url(/images/icoFacebook.png) left center no-repeat;}
.box-contact ul li.uservoice { background: transparent url(/images/uservoice.png) left center no-repeat;}
.box-profile { margin-bottom: 40px;}
.box-profile .box-inner { background-color: #fdffcd}
.box-profile h3 { font-size: 16px;}
.box-profile button, .box-propuestas button { width: 180px;}
.box-propuestas { margin-top: 40px;}

/* Reviews */
.reviews ol { list-style: none; margin: 0; padding: 0;}
.reviews li { margin: 0 0 40px 0; padding: 0; overflow: auto;}
.review-avatar { float:left; width: 36px; height: 36px; margin-right: 10px; overflow: hidden;}
.review-name { font-weight: normal; margin: 0; padding: 0;}
.review-date { margin-top: 0; padding-bottom: 0; font-size: 11px;}
.review-about { margin-top: 0; padding-bottom: 10px; font-size: 11px;}
.review-body { padding: 5px 0 0 0; clear: left;}
.review-actions { padding: 10px 0;}
.review-actions img { vertical-align: -10px;}
.sf-review-action { font-size: 11px; font-weight: normal;}
.sf-review-remove { padding-right: 10px;}
.sf-review-remove span { margin-left: 10px;}
.sf-review-submit { width: 215px; margin: 0 5px 10px 0; }
.sf-review-submit input { margin: 0; float: right;}
.sf-review-opciones { padding-top: 10px;}
.sf-review-hands { float: left; margin: 20px 0 10px 0;}
.sf-review-hands img, .sf-review-hands label { cursor: pointer;}
.sf-review-positive, .sf-review-negative { float:left;}
.sf-review-negative { margin-left: 20px;}
.sf-review-counter { text-align: right; padding-bottom: 10px; width: 215px;}
#sf-review-body { clear: both; padding-bottom: 0; overflow: hidden;}
.sf-review-text { width: 210px; height: 90px;}
#sfr_dialog {	display:none;}

/* Subreviews */
.subreviews { padding: 5px 0 0 40px !important; margin: 0 !important; overflow: hidden;}
.subreviews ol { border-left: 2px solid #999999; background-color: #fff; list-style: none; padding: 0px 0px 0px 10px;}
.subreviews li { margin: 0 0 40px 0;}
.subreviews-pagination { padding-top: 20px; text-align: center; width: 250px}
.subreviews-pagination input { width: 180px;}
.subreviews-pagination .more { padding-bottom: 0;}

/* Reviews en modo lista */
.sf-reviews-list-brief  { margin: 0; padding: 0;}
.sf-reviews-list-brief li { list-style: none; margin-bottom: 20px; overflow: hidden; padding-bottom: 15px; border-bottom: 1px dotted #ddd;}
.sf-reviews-list-brief .review-author { padding-bottom: 0;}
.sf-reviews-list-brief .review-avatar { width: 20px; height: 20px; margin-right: 10px;}
.sf-reviews-list-brief .review-avatar img { width: 20px; height: 20px;}

/* Entidades en modo lista */
.entities-list-mini ul { list-style: none; margin: 20px 0; padding: 0;}
.entities-list-mini ul li { margin-bottom: 20px; overflow: hidden; height: 80px;}
.entities-list-mini ul li .avatar { float: left;}
.entities-list-mini ul li .name { margin-left: 45px; font-weight: normal;}
.entities-list-mini ul li .votes { margin: 10px 0 0 45px; padding: 0;}

/* Selector de convocatoria */
.selector-convocatoria { clear: left; padding: 20px 0 0 25px; width: 900em;}
.selector-convocatoria ul { float: left; height: 45px; background-color: #fdffcd; border: 1px solid #9a9a9a; border-bottom: none; margin: 0; padding: 0;}
.selector-convocatoria li { list-style: none; float: left;}
.selector-convocatoria li a,
.selector-convocatoria li span { display: block; float: left; padding: 15px;}
.selector-convocatoria li a { height: 14px; border-bottom: 1px solid #9a9a9a;}
.selector-convocatoria li span { height: 25px; background: transparent url(/images/balloonYellowBottomCenter.png) center bottom no-repeat;}

/* Formularios */
form { margin: 0; padding: 0;}
form dl dt { margin-bottom: 10px;}
form dl dd { margin: 0 0 20px 0;}
form th, form td { vertical-align: top;}
form th { text-align: left; padding: 5px 20px 5px 0;}
form td { padding: 0 0 20px 0;}
form ul.error_list { margin: 5px 0; padding: 0; list-style: none; color: #f80c1a; font-size: 11px;}
input[type=text], input[type=password] { font-size: 13px; line-height: 13px; padding: 2px; width:270px; border: 1px solid #809DB9; font-family: Georgia, "Times New Roman", Times, serif;}
input[type=submit], input[type=button], button { font-size: 13px; overflow: visible; width: 90px; color: #323232; border: 1px solid #809DB9; background: #ededed url(/images/button_bg.png) left center repeat-x; font-family: Georgia, "Times New Roman", Times, serif;}
select, option { font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px;}
textarea { border: 1px solid #809DB9; font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; resize: none; width:270px; padding: 2px;}
.submit { text-align: right; clear: both;}
.facebook-only img { vertical-align: text-bottom;}
.hints { padding: 5px 0;}
input[type=submit].login_or_register { width: 200px; font-size: 12px;}
a.facebook-button { display: inline-block; line-height: 22px; color: #fff; text-decoration: none; background: transparent url(/images/boton_facebook_left.png) left top no-repeat; padding: 0 0 0 25px !important;}
a.facebook-button span { display: inline-block; line-height: 15px; background: transparent url(/images/boton_facebook_right.png) right top no-repeat; padding: 4px 5px 3px 0 !important;}
a.facebook-button:visited { color: #fff;}
a.twitter-button { display: inline-block; line-height: 22px; color: #e6f5fa; text-decoration: none; background: transparent url(/images/boton_twitter_left.png) left top no-repeat; padding: 0 0 0 25px !important;}
a.twitter-button span { display: inline-block; line-height: 15px; background: transparent url(/images/boton_twitter_right.png) right top no-repeat; padding: 4px 5px 3px 0 !important;}
a.twitter-button:visited { color: #e6f5fa;}

/* Páginas de error (404 y 500) */
#error #main-inner { padding-bottom: 0; margin-bottom: 0;}
#error #main h2 { text-align: center; color: #2b56ff; font-size: 40px; margin-bottom: 10px;}
#error #message { padding: 0 240px 40px 240px;}
#error #hands { padding-bottom: 0; text-align: center;}
#error #footer { padding-top: 0;}

/* Listado de instituciones */
.institutions-list { margin-bottom: 40px;}
.institutions-list ol { list-style: none; padding: 0; overflow: hidden;}
.institutions-list li.column { float: left; margin-right: 40px;}
.institutions-list li.first { margin-right: 10px;}

/* Home */
#home-index #main-inner { width: 100%; margin: 0;}
#home-index .block { background: transparent url(/images/blockBottom.png) bottom center no-repeat; padding: 20px 0; overflow: hidden;}
#home-index .block.last { background: none; padding-bottom: 0;}
#home-index .block-inner { margin: 0 auto; width: 960px;}
#home-index h3 { padding-bottom: 20px;}
#home-index #summary h2 { margin-bottom: 10px;}
#home-index #summary ul { margin: 0 0 0 -20px; padding: 0 0 0 20px;}
#home-index #summary ul li { margin-bottom: 20px;}
#home-index #summary ul li.lo-mas-votado { margin-bottom: -20px;}
#home-index ol.entities { list-style: none; margin: 10px 0; padding: 0;}
#home-index ol.entities li { margin: 0 30px 20px 0; height: 80px; font-weight: normal; overflow: hidden;}
#home-index ol.entities li .avatar { float: left;}
#home-index ol.entities li .name { margin-left: 45px; font-weight: normal;}
#home-index ol.entities li .votes { margin: 10px 0 0 45px; padding: 0;}
#home-index #summary ol.entities { padding: 20px 0 20px 0; overflow: hidden;}
#home-index #summary ol.entities li { width: 255px; margin-right: 60px;float: left;}
#home-index .search { clear: left; padding: 0; margin-top: 20px; overflow: hidden;}
#home-index .search label { font-size: 16px; font-weight: bold; padding-right: 10px;}
#home-index .search p { float: left; padding: 0; overflow: hidden;}
#home-index .search .hints { color: #b1b1b1;}
#home-index .search button { margin-left: 10px; width: 90px;}
#home-index #ultimos-vootos h3 { padding-right: 30px; background: transparent url(/images/vootos.png) right top no-repeat; float: left;}
#home-index #ultimos-vootos .sf-reviews-list-brief { clear: left; width: 680px;}
#home-index #rankings .entities-list-mini { width: 285px; margin-right: 30px; float: left;}
#home-index ol.reviews { padding: 0 0 0 20px;}
#home-index .ranking-link { clear: both;}
#home-index .signup { margin-left: 170px; font-weight: bold;}

/* Contacto */
#general-contact textarea { width: 494px;}
#general-contact .submit  { width: 500px;}
#general-contact #content { width: 70%;}

/* Normas */
#general-rules #content { width: 65%; margin-left: 20px;}
#general-rules #content h3 { margin-bottom: 20px;}
#general-rules #content h3#summary { margin-bottom: 40px;}

/* Perfil */
#sfGuardAuth-edit h2 { margin-bottom: 10px;}
#sfGuardAuth-edit .hints { padding: 5px 10px;}
#sfGuardAuth-edit #content { margin-top: 2em; position: relative;}
#sfGuardAuth-edit ol.links { margin: 0; padding: 0 0 0 20px; margin-left: -20px;}
#sfGuardAuth-edit ol.links li { margin-bottom: 20px;}
#sfGuardAuth-edit label { font-weight: normal;}
#sfGuardAuth-edit #content input[type=text],
#sfGuardAuth-edit #content input[type=password],
#sfGuardAuth-edit #content textarea { width: 390px;}
#sfGuardAuth-edit .politico { padding-top: 5px;}
#sfGuardAuth-edit .avatar p { padding-bottom: 10px;}
#sfGuardAuth-edit input[type=submit] { width: 150px;}
#sfGuardAuth-edit input[type=button] { width: 150px;}
#sfGuardAuth-edit #content input#profile_vanity { display: inline; width: 130px;}
#sfGuardAuth-edit form th { width: 130px;}
#sfGuardAuth-edit form td { width: 390px;}
#sfGuardAuth-edit form td.email p { padding-bottom: 10px;}
#sfGuardAuth-edit .remove { padding-top: 40px;}
#sfGuardAuth-edit .counter { padding-bottom: 0; text-align: right;}
#sfGuardAuth-edit #bajaConfirmDiv { float: left;}
#sfGuardAuth-edit #bajaConfirmDiv a { padding-left: 20px;}
#sfGuardAuth-edit #bajaConfirmDiv a.confirm { color: #ff0000;}
#sfGuardAuth-edit #bajaConfirmDiv .email { color: #ff0000; font-weight: bold;}
#sfGuardAuth-edit #sidebar { position: absolute; right: 0; width: 250px;}
#sfGuardAuth-edit #facebook-connect h3,
#sfGuardAuth-edit #twitter-connect h3 { padding-bottom: 10px; font-weight: normal; font-size: 16px;}
#sfGuardAuth-edit #facebook-connect img,
#sfGuardAuth-edit #twitter-connect img { vertical-align: text-bottom; padding-right: 5px;}
#sfGuardAuth-edit #facebook-connect p,
#sfGuardAuth-edit #twitter-connect p { padding-bottom: 10px;}
#sfGuardAuth-edit #facebook-connect ul,
#sfGuardAuth-edit #twitter-connect ul { margin: 0; padding: 0; list-style: none;}
#sfGuardAuth-edit #facebook-connect li,
#sfGuardAuth-edit #twitter-connect li { margin-top: 10px;}
#sfGuardAuth-edit #facebook-connect q,
#sfGuardAuth-edit #twitter-connect q { font-style: italic;}
#sfGuardAuth-edit .notice { width: 503px;}
#sfGuardAuth-edit .anonymous { text-align: right; padding-bottom: 0;}

/* Comentarios y vootos */
#perfil-reviews #main h2 { margin-top: 20px;}
#perfil-reviews .comments { clear: both; padding-top: 40px;}
.propuestas ol { list-style: none; margin: 0; padding: 0;}
.propuestas li { list-style: none; margin: 0 0 20px 0; overflow: hidden; padding: 0 0 15px 0; border-bottom: 1px dotted #ddd; }
.propuestas .photo,
.comments .photo { width: 36px; float:left;}
.propuestas .name { width: 290px; padding: 5px 455px 5px 10px; float:left;}
.comments .name { width: 335px; padding: 5px 10px; float:left;}
.propuestas .date,
.comments .date { font-size: 11px;}
.comments .vote { width: 35px; float:left;}
.comments .body { width: 390px; padding: 5px 10px; float:left;}
.propuestas .actions,
.comments .actions { padding: 5px 10px;}

/* Perfil público */

#perfil-show .balloon { width: 50%; background: transparent url(/images/balloonBottom.png) bottom left no-repeat; padding-bottom: 11px; margin-bottom: 20px;}
#perfil-show .balloon-inner { border: 2px solid #93bcfc; border-bottom: none; padding: 20px 20px 0 20px;}
#perfil-show .balloon-inner input { width: 170px;}
#perfil-show #content { margin-top: 20px;}
#perfil-show .profile { overflow: hidden; padding-bottom: 40px;}
#perfil-show .profile h2 a { font-size: 13px;}
#perfil-show .profile .photo { float: left;}
#perfil-show .profile .description { width: 250px; margin-left: 20px; float: left;}
#perfil-show .profile .description p { padding-bottom: 10px;}
#perfil-show .profile .description .links { padding-bottom: 10px;}
#perfil-show .profile .description .links p { padding-top: 20px; padding-bottom: 0;}
#perfil-show .profile .description .links ul { margin: 0; padding: 0; list-style: none;}
#perfil-show .propuestas { clear: both;}
#perfil-show .propuestas .date { font-size: 11px;}
#perfil-show .comments { clear: both; padding-top: 40px;}
#perfil-show .comments table { border-top: 1px dotted #cccccc; width: 100%;}
#perfil-show .comments tr { border-bottom: 1px dotted #cccccc;}
#perfil-show .comments td { border-bottom: 1px dotted #cccccc; padding: 10px 0;}
#perfil-show .comments .photo { width: 36px;}
#perfil-show .comments .name { width: 335px; padding: 10px;}
#perfil-show .comments .date { font-size: 11px;}
#perfil-show .comments .vote { width: 35px;}
#perfil-show .comments .body { width: 390px; padding: 10px;}
#perfil-show #sidebar { width: 250px; margin-top: 5px;}
#perfil-show #more_reviews { padding-top: 10px;}

/* Contacto perfil */
#perfil-contact p.textarea { padding-bottom: 0;}
#perfil-contact #content form { width: 300px;}
#perfil-contact #content form textarea { width: 100%;}
#perfil-contact .counter { text-align: right;}
#perfil-contact .submit { text-align: right;}

/* Cambiar contraseña */
#sfGuardAuth-changePassword form td { width: 270px;}

/* About */
#general-about #content { width: 65%;}
#general-about #content h3 { margin-bottom: 20px; line-height: 150%;}
#general-about #content .description h3 { font-weight: normal;}
#general-about #content .social-data h3 { margin-bottom: 0;}
#general-about #content .social-data  { margin-top: 60px;}
#general-about #content .founders,
#general-about #content .others { margin-top: 40px;}
#general-about #content .founders ul,
#general-about #content .others ul { list-style: none; margin: 0; padding: 0;}
#general-about #content .founders li,
#general-about #content .others li { margin-bottom: 20px;}
#general-about #content .founders .avatar,
#general-about #content .others .avatar { float: left; width: 36px;}
#general-about #content .founders h4,
#general-about #content .others h4,
#general-about #content .founders .body,
#general-about #content .others .body { margin-left: 45px;}
#general-about #sidebar .social,
#general-about #sidebar .history { margin-top: 20px;}
#general-about #sidebar h3 { margin-bottom: 5px;}
#general-about #sidebar ul { list-style: none; margin: 0; padding-left: 0;}
#general-about #sidebar li { padding-bottom: 10px;}
#general-about #sidebar dl { margin: 0; padding-left: 0}
#general-about #sidebar dt { font-size: 16px; font-weight: bold;}
#general-about #sidebar dd { margin: 0; padding: 0 0 20px 0; line-height: 150%;}

/* SignUp y Login */ 
#sfGuardAuth-signin #main { padding-top: 40px;}
#sfGuardAuth-signin #main h2 { color:#2b56ff;}
#sfGuardAuth-signin #signup { float: left;}
#sfGuardAuth-signin #login  { float: right;}
#sfGuardAuth-signin .submit input[type=submit] { width: 150px;}
#sfGuardAuth-signin .legal { text-align: right;}
#sfGuardAuth-signin .anonymous { text-align: right; padding-bottom: 0;}
#sfGuardAuth-signin .notice { width: 95%;}
#sfGuardAuth-signin #accounts-join-login { float: left; width: 350px; padding-right: 130px; background: transparent url(/images/login_separator.png) right center no-repeat;}
#sfGuardAuth-signin #accounts-join-skip { float: left; width: 380px; padding-left: 100px; padding-top: 122px;}
#sfGuardAuth-signin #accounts-join-skip p { padding-bottom: 0;}
#sfGuardAuth-signin .facebook-login th { padding-top: 18px;}
#sfGuardAuth-signin .facebook-login td { padding-top: 15px; text-align: left;}

/* Tabla de rankings */
table.rankings { margin: 0 auto; width: 100%; border: none;}
table.rankings th { background-color: #f6f6f6; padding: 10px 0;}
table.rankings tbody td,
table.rankings tfoot td { padding: 10px 0;}
table.rankings .ranking { text-align: right;}
table.rankings .position { text-align: right;}
table.rankings .photo { text-align: right;}
table.rankings .positive-votes { text-align: right;}
table.rankings .negative-votes { text-align:right;}

/* Ranking de políticos */
#politico-ranking .active { text-decoration: none; color:#333333; font-weight: bold;}
#politico-ranking h2 select { font-size: 13px;}
#politico-ranking table .ranking { width: 155px;}
#politico-ranking table .position { width: 30px;}
#politico-ranking table .photo { width: 36px; padding-left: 10px; padding-right: 10px;}
#politico-ranking table .name { width: 320px;}
#politico-ranking table .voto { width: 120px; padding-left: 20px}
#politico-ranking table .positive-votes { width: 100px;}
#politico-ranking table .negative-votes { width: 100px; padding-right: 60px;}

/* Ranking de partidos */
#partido-ranking .active { text-decoration:none; color:#333333; font-weight:bold;}
#partido-ranking h2 select { font-size: 13px;}
#partido-ranking table .ranking { width: 155px;}
#partido-ranking table .position { width: 30px;}
#partido-ranking table .photo { width: 36px; padding-left: 10px; padding-right: 10px;}
#partido-ranking table .name { width: 320px;}
#partido-ranking table .voto { width: 130px; padding-left: 20px}
#partido-ranking table .positive-votes { width: 100px;}
#partido-ranking table .negative-votes { width: 100px; padding-right: 60px;}

/* Ranking de propuestas */
#propuesta-ranking .active { text-decoration: none; color:#333333; font-weight: bold;}
#propuesta-ranking h2 { margin-bottom: 5px;}
#propuesta-ranking table .ranking { width: 120px;}
#propuesta-ranking table .position { width: 30px;}
#propuesta-ranking table .photo { width: 36px; padding-left: 10px; padding-right: 10px;}
#propuesta-ranking table .name { width: 300px; padding-right: 40px;}
#propuesta-ranking table .voto { width: 110px;}
#propuesta-ranking table .positive-votes { width: 100px;}
#propuesta-ranking table .negative-votes { width: 100px; padding-right: 20px;}
#propuesta-ranking table .date { text-align: right; width: 100px; padding-right: 20px;}
#propuesta-ranking .search { float: right;}

/* Lista electoral */
#lista-show h2 { margin-bottom: 5px;}
#lista-show h2 .versus { color: red; padding: 0 20px; font-size: 28px;}
#lista-show h2 img { vertical-align: -12px;}
#lista-show table { margin: 20px auto; width: 100%; clear: left; float: left;}
#lista-show table th { background-color: #f6f6f6; padding: 10px 0;}
#lista-show table tbody td,
#lista-show table tfoot td { padding: 10px 0;}
#lista-show table .position { text-align: right; width: 20px; padding-left: 10px;}
#lista-show table .photo { text-align: right; width: 40px; padding-left: 10px;}
#lista-show table .name { text-align: left; width: 210px; padding-left: 10px;}
#lista-show table .name-lista-oficial a,
#lista-show table .name-lista-oficial a:visited { color: #808080; }
#lista-show table .voto { text-align: left; width: 120px; padding-left: 20px}
#lista-show table .positive-votes { text-align: right; width: 100px;}
#lista-show table .negative-votes { text-align:right; width: 100px; padding-right: 20px;}

/* Resultados de búsqueda */
#general-search table { margin: 0 auto; width: 90%;}
#general-search table th { background-color: #f6f6f6; padding: 10px 0;}
#general-search table tbody td { padding: 10px 0;}
#general-search table .photo { text-align: right; width: 36px; padding-right: 10px;}

/* RSS */
#rss { margin-bottom: 40px; padding: 5px 0; border-top: 1px dotted #cccccc; border-bottom: 1px dotted #cccccc;}

/* Enlaces externos */
#external-links { margin-bottom: 40px;}
#external-links input[type="text"] { width: 213px; background-color: #ffffcc; border: 1px solid #809DB9;}

/* Reportar error */
#report-error { margin-bottom: 40px;}
#report-error select { width: 220px; border: 1px solid #809DB9; font-size: 13px; overflow:hidden; color: #323232;}
#report-error .submit { padding-top: 10px; width: 220px;}
#report-error option { padding: 2px 5px;}

/* Twitter */
#twitter { width: 220px; margin-bottom: 40px;}

/* Página de político - partido - propuesta */
.entity-page #content { width: 680px;}
.entity-page #sidebar { width: 220px; margin-left: 50px;}
.entity-page h2#name .rank { font-size: 13px;}
.entity-page #photo { width: 220px; float: left;}
.entity-page #photo .vote { padding-top: 40px;}
.entity-page .vote { padding-top: 40px; padding-bottom: 20px; clear: left;}
.entity-page .vote h3 { font-size: 16px; padding-bottom: 0;}
.entity-page .note h3 { padding-bottom: 0; font-size: 13px;}
.entity-page #sf_review2 { width: 220px;}
.entity-page #description { margin-left: 50px; width: 410px; float: left;}
.entity-page #description h3 { padding-top: 20px; padding-bottom: 10px;}
.entity-page #description p { padding-bottom: 10px;}
.entity-page #google-ads { width: 220px; margin-left: 50px; clear: right; float: right;}
.entity-page .reviews { clear: left; padding: 35px 0 0 0; border: none;}
.entity-page .reviews .ui-tabs-panel { padding: 20px 0;}
.entity-page .ui-tabs-nav { padding: 0; border: none; border-bottom: 1px solid #809DB9;}
.entity-page .ui-tabs-nav li { overflow: hidden;}

/* Página de partido */
#partido-show #elecciones { margin: 20px 0;}
#partido-show #elecciones h3 { font-size: 13px; margin: 0; padding-top: 0;}
#partido-show #elecciones ul { margin: 0; padding: 0;}
#partido-show #elecciones ul li { list-style: none; margin-bottom: 5px;}
#partido-show #elecciones p { margin: 20px 0;}
#partido-show #politicos-mas-votados h3 { padding-bottom: 5px;}
#partido-show #politicos-mas-votados li { height: 55px }
#partido-show .entities-list-mini ul li { width: 220px; margin: 0;}
#partido-show .active { text-decoration: none; color: #333333; font-weight: bold;}

/* Página de asignación de usuario con político */
#politico-take #main { height: 400px;}
#politico-take #photo { float: left; width: 200px; text-align: right;}
#politico-take #content { float: none; margin-left: 220px; width: 520px;}
#politico-take #content h2 { font-size: 16px; font-weight: bold;}
#politico-take #content .cancel { float: left; padding: 4px 0 3px 0;}
#politico-take #content .submit { clear: none;}
#politico-take #content button { width: 200px;}
#politico-take p.pre-ul { padding-bottom: 0;}
#politico-take ul { padding-left: 20px;}

/* Página de opinión */
#sfReviewFront-show .review-body { padding-bottom: 0; margin-bottom: 0;}
#sfReviewFront-show .review-name { font-size: 16px;}
#sfReviewFront-show .subreviews .review-name { font-size: 13px;}

/* Página de elección */
#eleccion-show #content { float: left; width: 690px;}
#eleccion-show #resultados { width: 690px;}
#eleccion-show #resultados td { padding: 5px 0;}
#eleccion-show #resultados { overflow: hidden; float: left; clear: left; margin-top: 20px;}
#eleccion-show #resultados .partido { width: 100px; text-align: right; padding-right: 20px;}
#eleccion-show #resultados .escanos { width: 20px; text-align: right; padding-right: 20px; font-weight: bold;}
#eleccion-show #resultados .politicos img { width: 20px; height: 20px;}
#eleccion-show .tooltip-politico .nombre { margin-bottom: 5px;}
#eleccion-show .tooltip-politico .photo { float: left; overflow: hidden;}
#eleccion-show .tooltip-politico .positive_votes { margin-left: 45px; width: 100px; height: 18px; margin-bottom: 5px; text-align: left;}
#eleccion-show .tooltip-politico .negative_votes { margin-left: 45px; width: 100px; height: 18px; text-align: left;}

/* Página de propuesta */
#propuesta-show h2#name { margin-bottom: 5px;}
#propuesta-show #author img { width: 19px; height: 19px; padding: 0 5px; }
#propuesta-show .box-propuestas { margin-bottom: 40px; margin-top: 0;}
#propuesta-show .box-propuestas button { width: 175px;}
#propuesta-show .edit-box { background-color: #ffffcc; border: 1px solid #809DB9; margin-bottom: 10px; padding: 10px; position: relative;}
#propuesta-show .edit-box a { padding-right: 5px;}
#propuesta-show .edit-box a.confirm_delete { color: red;}
#propuesta-show .edit-link { font-size: 11px;}
#propuesta-show .close-edit-box { font-size: 9px; position: absolute; top: 14px; right: 5px;}
#propuesta-show #edit-photo-box { position: relative; width: 250px;}
#propuesta-show #edit-titulo-box { width: 350px ;}
#propuesta-show #ee_box a { font-size: 11px;}

/* Página de últimos vootos */
#sfReviewFront-list h2.title { margin-bottom: 0;}
#sfReviewFront-list h3.title { margin-bottom: 20px; font-weight: normal;}
#sfReviewFront-list #filterForm select { font-size: 13px;}
#sfReviewFront-list #content { width: 640px;}
#sfReviewFront-list #ultimos-usuarios { margin-bottom: 40px;}
#sfReviewFront-list #ultimos-usuarios h3 { padding-bottom: 10px;}
#sfReviewFront-list #ultimos-usuarios img { width: 20px; height: 20px; padding-right: 8px;}
#sfReviewFront-list #ultimos-usuarios li { margin-bottom: 5px;}
#sfReviewFront-list .pagination { margin-top: 0; text-align: left;}

/* Caja de etiquetas */
#etiquetas { margin-bottom: 40px;}
#etiquetas p { padding-bottom: 10px;}
#etiquetas .remove { font-family: sans-serif; text-decoration: none; color: #323232; font-size: 11px; padding-left: 5px;}
#etiquetas input[type=text] { width: 184px;}
#etiquetas input[type=submit] { padding-left: 3px; padding-right: 3px; width: 20px; text-align: center;}

/* Nueva propuesta */
#propuesta-new #main-inner { width: 100%; margin: 0; }
#propuesta-new .new-success { margin: 0 auto; width: 960px;}
#propuesta-new h2 { margin-bottom: 10px;}
#propuesta-new .hints { padding: 5px 10px;}
#propuesta-new #content { margin-top: 2em; position: relative;}
#propuesta-new ol.links { margin: 0; padding: 0 0 0 20px; margin-left: -20px;}
#propuesta-new ol.links li { margin-bottom: 20px;}
#propuesta-new label { font-weight: normal;}
#propuesta-new input[type=text],
#propuesta-new input[type=password],
#propuesta-new textarea { width: 290px;}
#propuesta-new input[type=submit] { width: 150px;}
#propuesta-new input[type=button] { width: 150px;}
#propuesta-new form th { width: 130px;}
#propuesta-new form td { width: 290px;}
#propuesta-new .counter { padding-bottom: 0; text-align: right;}
#propuesta-new .submit span { padding-right: 20px;}
#propuesta-new #propuesta_titulo { height: 35px;}
#propuesta-new #propuesta_descripcion { height: 220px;}
#propuesta-new .propuesta-preview { background-color: #ffffcc; border-top: 1px dotted #cccccc; border-bottom: 1px dotted #cccccc; overflow: hidden; padding: 20px 0; margin-top: -20px;}
#propuesta-new .propuesta-preview .picture { float: left; padding-top: 2px; width: 220px;}
#propuesta-new .propuesta-preview .picture a { font-weight: bold; font-size: 16px;}
#propuesta-new .propuesta-preview .description { float: left; margin-left: 45px; width: 425px;}
#propuesta-new .propuesta-preview .inner { margin: 0 auto; width: 960px;}
#propuesta-new .vooto { margin: 0 auto; width: 960px;}
#propuesta-new .vooto .inner { margin-left: 265px; width: 280px; padding: 20px 0;}
#propuesta-new .vooto strong { font-weight: normal; color: #ff0000;}

/* Popups */
#help-dialog { display:none;}
.ui-dialog-titlebar { border: none;}

/* Opiniones */
.positive-reviews, .negative-reviews { width: 45%; float: left;}
.negative-reviews { margin-left: 10%;}
.review-new h5, .vote h5 { font-size: 13px; font-weight: normal;}

/* Vídeos */
.videos { margin: 0; padding: 0;}
.videos li { list-style: none; width: 130px; margin-right: 20px; float: left;}
.videos p { padding-bottom: 0 !important;}
.videos .thumb { width: 120px; height: 90px; padding: 5px; border: 1px solid #cccccc; }
.videos .thumb img { width: 120px; height: 90px; }

/* Navegación principal */
#main-nav { position: absolute; bottom: 0; height: 50px; margin: 0; padding: 0;}
#main-nav li { list-style: none; float: left; margin-right: 2px; width: 90px; height: 42px; padding: 4px 0; text-align: center; background: transparent url(/images/main-nav-inactive.gif) top left no-repeat;}
#main-nav li.active { font-weight: normal !important; background: transparent url(/images/main-nav-active.gif) top left no-repeat;}
#main-nav li span.count { font-size: 11px;}

/* Reglas nuevas */

#sfGuardAuth-remove #main h2 { color:#2b56ff;}
.highlight_word { font-weight:bold;}
.quickvote_hand { text-align: right; width:2.2em; float:left;}
.left_hand { margin:0px 25px 0px -12px;}
.by-order { font-weight:normal; }

div.bk-img { float: left;padding-right:6px; }
div.bk-name { height: 36px; }
.bk-row { padding-top: 16px; }
.bk-header { display: none; clear: both; }


#eleccion-list h2 {margin: 0}
#eleccion-list div.filter {margin: 6px 0 16px 0;}
#eleccion-list table .photo { width: 10%; padding-right: 10px;}
#eleccion-list table .name { width: 50%;}
#eleccion-list table .lists { width: 20%; text-align: right; padding-right: 80px;}
#eleccion-list table .date { width: 20%;}