# default values
dev:
  apidemo:
    server_url: http://localhost/frontend_dev.php
    consumer_key: 
    consumer_secret: 
  facebook: 
    api_key: f532df1b4d894569787bdda3a28d5b6d
    api_secret: 
    api_id: 316706476264
    
    api_key_es: f532df1b4d894569787bdda3a28d5b6d
    api_secret_es: 
    api_id_es: 316706476264

    api_key_ca: e062773ea07dbdc1717e308ca335e314
    api_secret_ca: 
    api_id_ca: 110742152288170
test:
  apidemo:
    server_url: http://voota.es
    consumer_key: 
    consumer_secret: 
  facebook: 
    api_key: 8141274f85edb08381f7a9eedd96495b
    api_secret: 
    api_id: 273819802709
    
    api_key_es: 8141274f85edb08381f7a9eedd96495b
    api_secret_es: 
    api_id_es: 273819802709
    
    api_key_ca: 59ca37a91f5098a3163c54e93a0439dc
    api_secret_ca: 
    api_id_ca: 106262996081254
prod:
  apidemo:
    server_url: http://voota.es
    consumer_key: 
    consumer_secret: 
  facebook: 
    api_key: d7af183c718e28382607ed0604d9e0f7
    api_secret: 
    api_id: 277177374641
    
    api_key_es: d7af183c718e28382607ed0604d9e0f7
    api_secret_es: 
    api_id_es: 277177374641
    
    api_key_ca: 8eab52acf82d0bda5681bf79c75cd88b
    api_secret_ca: 
    api_id_ca: 114702875213134

all:

  twitter:
    api_key_es: 12zhPy8brdLEZwUbLPQ1A
    api_consumer_key_es: 12zhPy8brdLEZwUbLPQ1A
    api_consumer_secret_es: 

    api_key_ca: 12zhPy8brdLEZwUbLPQ1A
    api_consumer_key_ca: 12zhPy8brdLEZwUbLPQ1A
    api_consumer_secret_ca: 
    
  bitly:
    login: voota
    key: 
    
  s3:
    AccessKey: AKIAJVRUU7UE2RN6DGMQ
    SecretKey: 
  mail:
    enabled: true
    server: ssl://smtp.gmail.com
    port: 465
    user: no-reply@voota.es
    spool_dir: /var/spool/swift    
    smtp_pass: 
  facebook: 
    redirect_after_connect: false 
    redirect_after_connect_url: '@homepage'
    app_facebook_redirect_after_connect_url: '@homepage'
    #connect_signin_url: 'sfFacebookConnectAuth/signin'
    connect_signin_url: 'sfGuardAuth/signin?op=fb' 
    app_url: '/my-app' # the facebook application canvas url 
    guard_adapter: ~ # to customise a guard adapter 
    js_framework: jQuery
    
  sf_guard_plugin: 
    profile_class:      SfGuardUserProfile
    profile_field_name: user_id
    profile_facebook_uid_name: facebook_uid 
    profile_email_name: email 
    profile_email_hash_name: email_hash

  facebook_connect: 
    load_routing: true 
    user_permissions: []
    
  sfImageTransformPlugin:
    default_adapter: GD # GD or ImageMagick
    default_image: { mime_type: image/png, filename: Untitled.png }
    font_dir: /usr/share/fonts/truetype/msttcorefonts
    mime_type:
      auto_detect: true
      library: gd_mime_type # Fileinfo (PECL), MIME_Type (PEAR)
      GD:
        auto_detect: true
    
  enable_vobase_me: true